<a href="https://colab.research.google.com/github/Anoop-1061/super-duper-barnacle/blob/master/Fin_Extract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

>  ### This code is showing the steps for extracting the data from the given url and downloading the first zip from the url, unzipping the zip and then further extracting the data points from the unzipped xml file and storing the data points in a CSV File and then Uploading the CSV file to AWS S3 Bucket.

In [1]:
!python --version

Python 3.9.16

In [2]:
import requests

# Download the XML file from the provided link
xml_url = 'https://registers.esma.europa.eu/solr/esma_registers_firds_files/select?q=*&fq=publication_date:%5B2021-01-17T00:00:00Z+TO+2021-01-19T23:59:59Z%5D&wt=xml&indent=true&start=0&rows=100'

response = requests.get(xml_url)

xml_content = response.content

In [3]:
import xml.etree.ElementTree as ET

# Parse the first xml and fetch the first download link whose file_type is DLTINS
root = ET.fromstring(xml_content)

allitems = []

for item in root[1]:
    for child in item:
        if child.attrib == {'name': 'download_link'} and "DLTINS" in child.text:
            allitems.append(child.text)
            break
    break

resp=requests.get(allitems[0])
with open(allitems[0][0::21], 'wb') as output_file:
  output_file.write(resp.content)

In [4]:
from zipfile import ZipFile

# Extracting the zip
with ZipFile(allitems[0][0::21], 'r') as zip:
  xml=zip.extractall()

In [5]:
from xml.etree import ElementTree
import csv

# Parsing the xml
xml = ElementTree.parse("DLTINS_20210117_01of01.xml").getroot()

# Extract data points from new xml and storing them in a dictionary and further appending/adding rows with the headers in a CSV file
allrows=[]
count=0

for fin in xml[1][0][0]:
  data = {}
  count += 1
  for child in fin[0]:
      if "Issr" in child.tag:
          try:
              data['Issr'] = child.text
          except:
              data['Issr'] = ""

  for child in fin[0][0]:
      if "Id" in child.tag:
          try:
              data["Id"] = child.text
          except:
              data["Id"] = ""

      elif "FullNm" in child.tag:
          try:
              data["FullNm"] = child.text
          except:
              data["FullNm"] = ""
      
      elif "ClssfctnTp" in child.tag:
          try:
              data["ClssfctnTp"] = child.text
          except:
              data["ClssfctnTp"] = ""

      elif "CmmdtyDerivInd" in child.tag:
          try:
              data["CmmdtyDerivInd"] = child.text
          except:
              data["CmmdtyDerivInd"] = ""
      
      elif "NtnlCcy" in child.tag:
          try:
              data["NtnlCcy"] = child.text
          except:
              data["NtnlCcy"] = ""
  allrows.append(data)

# Saving all datapoints with a given name as a CSV file with the headers
try:
    with open("FinInstrmGnlAttrbts.csv", 'w') as csvfile:
        writer = csv.DictWriter(csvfile, fieldnames=['Id', 'FullNm', 'ClssfctnTp', 'NtnlCcy', 'CmmdtyDerivInd', 'Issr'])
        writer.writeheader()
        writer.writerows(allrows)
except:
    print("Not able to save data in csv")

In [6]:
import pandas as pd
df=pd.read_csv("FinInstrmGnlAttrbts.csv")

# Checking number of rows and columns in a CSV
df.shape

<ipython-input-6-66473ad3fbcf>:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("FinInstrmGnlAttrbts.csv")

(141382, 6)

In [7]:
df.head(10)

,Id,FullNm,ClssfctnTp,NtnlCcy,CmmdtyDerivInd,Issr
0,NaN,NaN,NaN,NaN,NaN,NaN
1,DE000A1R07V3,Kreditanst.f.Wiederaufbau Anl.v.2014 (2021),DBFTFB,EUR,False,549300GDPG70E3MBBU98
2,DE000A1R07V3,KFW 1 5/8 01/15/21,DBFTFB,EUR,False,549300GDPG70E3MBBU98
3,DE000A1R07V3,Kreditanst.f.Wiederaufbau Anl.v.2014 (2021),DBFTFB,EUR,False,549300GDPG70E3MBBU98
4,DE000A1R07V3,Kreditanst.f.Wiederaufbau Anl.v.2014 (2021),DBFTFB,EUR,False,549300GDPG70E3MBBU98
5,DE000A1X3J56,IKB Deutsche Industriebank AG Stufenz.MTN-IHS ...,DTVUFB,EUR,False,PWEFG14QWWESISQ84C69
6,DE000A1X3J56,IKB Deutsche Industriebank AG Stufenz.MTN-IHS ...,DTVUFB,EUR,False,PWEFG14QWWESISQ84C69
7,DE000A1X3J56,LSFEU 3.700 1/20/21 (URegS),DTVUFB,EUR,False,PWEFG14QWWESISQ84C69
8,DE000A1YC5L8,NIESA Float 01/15/21 BOND,DNVTFB,EUR,False,391200ITQQZ7JMHXK080
9,DE000A1YC5L8,NIESA Float 01/15/21 BOND,DNVTFB,EUR,False,391200ITQQZ7JMHXK080

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141382 entries, 0 to 141381
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Id              141381 non-null  object
 1   FullNm          141381 non-null  object
 2   ClssfctnTp      141381 non-null  object
 3   NtnlCcy         141381 non-null  object
 4   CmmdtyDerivInd  141381 non-null  object
 5   Issr            141381 non-null  object
dtypes: object(6)
memory usage: 6.5+ MB

In [9]:
# Dropping NaN values

df.dropna(inplace=True)

In [10]:
# Verifying whether NaN row is removed or not

df.head()

,Id,FullNm,ClssfctnTp,NtnlCcy,CmmdtyDerivInd,Issr
1,DE000A1R07V3,Kreditanst.f.Wiederaufbau Anl.v.2014 (2021),DBFTFB,EUR,False,549300GDPG70E3MBBU98
2,DE000A1R07V3,KFW 1 5/8 01/15/21,DBFTFB,EUR,False,549300GDPG70E3MBBU98
3,DE000A1R07V3,Kreditanst.f.Wiederaufbau Anl.v.2014 (2021),DBFTFB,EUR,False,549300GDPG70E3MBBU98
4,DE000A1R07V3,Kreditanst.f.Wiederaufbau Anl.v.2014 (2021),DBFTFB,EUR,False,549300GDPG70E3MBBU98
5,DE000A1X3J56,IKB Deutsche Industriebank AG Stufenz.MTN-IHS ...,DTVUFB,EUR,False,PWEFG14QWWESISQ84C69

In [11]:
!pip install boto3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting boto3
  Downloading boto3-1.26.111-py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.6/135.6 kB 7.8 MB/s eta 0:00:00
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.6/79.6 kB 13.5 MB/s eta 0:00:00
Collecting botocore<1.30.0,>=1.29.111
  Downloading botocore-1.29.111-py3-none-any.whl (10.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.6/10.6 MB 96.4 MB/s eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.9/dist-packages (from botocore<1.30.0,>=1.29.111->boto3) (1.26.15)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.9/dist-packages (from botocore<1.30.0,>=1.29.111->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.111->boto3) (1.16.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.26.111 botocore-1.29.111 jmespath-1.0.1 s3transfer-0.6.0

In [12]:
# AWS-SDK library for working with AWS services using Python
import boto3

# Set the S3 bucket name and file name
bucket_name = 'lucky--bucket'
file_name = 'FinInstrmGnlAttrbts.csv'

# Create an S3 resource
s3 = boto3.resource(service_name='s3', region_name='ap-south-1', aws_access_key_id='AKIARMF5XHJUJZQYNCHO', aws_secret_access_key='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')

# Upload the CSV file to the S3 bucket
with open(file_name, 'rb') as file:
    s3.Bucket('lucky--bucket').upload_fileobj(file, file_name)